@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello!</h1>
    <p class="lead">It's geographic interactive application! Learn geography and enjoy!</p>
    <a href="https://asp.net" class="btn btn-primary btn-lg">Authorisation &raquo;</a>
    <a href="https://asp.net" class="btn btn-primary btn-lg">Registration &raquo;</a>
</div>