@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_UnauthorizedLayout.cshtml";
}

<div class="jumbotron">
    <h1>ПРИВЕТ</h1>
    <p class="lead">Это интерактивное приложение</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Авторизация &raquo;</a></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Регистрация &raquo;</a></p>
</div>