<div class="main_page">
    <div class="container main_page__header">
        @if (User.Identity.IsAuthenticated)
        {
            <h1>Hello, @User.Identity.Name</h1>
        }
        else
        {
            <h1>Hello</h1>
        }
        <h3>It's geographic interactive application! Learn geography and enjoy!</h3>
        <div class="mail_page__btns">
            @if (!User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "col-lg-offset-4 col-lg-2 button main_page__btn" })
                @Html.ActionLink("Register", "Register", "Account", null, new { @class = "col-lg-2 button main_page__btn" })
            }
            else
            {
                @Html.ActionLink("Go to tests", "Index", "Test", null, new { @class = "button main_page__btn" })
            }
        </div>
    </div>
</div>