@model WebApplication.Models.Paging.TestPreviewPagingViewModel

@using (Ajax.BeginForm("Search", "Test", new AjaxOptions { HttpMethod = "GET", OnSuccess = "testsModule.returnTests" }))
{
    <div class="form-inline search_by_keyword col-xs-12">
        <input class="form-control search_by_keyword__inp" name="keyWord" />
        <input type="submit" value="Search" class="test_search_btn btn btn-default" id="search_by_keyword" />
        @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Create new test", "Create", "Test", null,
                  new { @class = "btn btn-default" })
        }
    </div>
}

<div id="tests" class="all_tests col-xs-12">
    @Html.Partial("~/Views/Test/_TestNotAjax.cshtml", Model.Tests)
</div>

<div class="pager_container">
    @Html.Partial("~/Views/Test/_Pages.cshtml", Model.PagingInfo.TotalPages)
</div>


@Scripts.Render("~/bundles/paging")