<div class="not_ready_test">
    <h2>The test is not available now, sorry!</h2>
    <br />
    @Html.ActionLink("Choose another test", "Index", "Test", null, new { @class = "btn btn-success btn-lg" })
</div>