<div class="not_ready_test">
    <h1>The test is not available now, sorry!</h1>
    @Html.ActionLink("Choose another test", "Index", "Test", null, new { @class = "button not_ready_test__btn" })
</div>